@import "tailwindcss";

:root {
  --brand-primary: #0360e6;
  --brand-dark: #161641;
  --brand-mid: #162b53;
  --accent-cyan: #3cced7;
  --accent-light: #cddffa;
  --accent-mint: #d2edef;
  --neutral-gray: #999999;
  --neutral-black: #141414;
  --neutral-bg: #f7f5f5;
  --neutral-white: #ffffff;
  --neutral-yellow: #ffa130;
}

@theme inline {
  --color-brand-primary: var(--brand-primary);
  --color-brand-dark: var(--brand-dark);
  --color-brand-mid: var(--brand-mid);
  --color-accent-cyan: var(--accent-cyan);
  --color-accent-light: var(--accent-light);
  --color-accent-mint: var(--accent-mint);
  --color-neutral-gray: var(--neutral-gray);
  --color-neutral-black: var(--neutral-black);
  --color-neutral-bg: var(--neutral-bg);
  --color-neutral-white: var(--neutral-white);
  --color-neutral-yellow: var(--neutral-yellow);

  --spacing-5px: 5px;
  --spacing-7px: 7px;
  --spacing-13px: 13px;
  --spacing-15px: 15px;
  --spacing-17-5px: 17.5px;
  --spacing-23px: 23px;
  --spacing-27px: 27px;
  --spacing-32-5px: 32.5px;
  --spacing-45px: 45px;
  --spacing-47px: 47px;
  --spacing-49px: 49px;
  --spacing-51px: 51px;
  --spacing-52px: 52px;

  /* Header height */
  --spacing-133px: 133px;


  /* Hero height */
  --spacing-750px: 750px;
  --spacing-650px: 650px;
  --spacing-400px: 400px;
  --spacing-456px: 456px;
  --spacing-46px: 46px;
  --spacing-69px: 69px;
  --spacing-72px: 72px;
  --spacing-92px: 92px;
  --spacing-93px: 93px;
  --spacing-100px: 100px;
  --spacing-106px: 106px;
  --spacing-153px: 153px;
  --spacing-193px: 193px;
  --spacing-174px: 174px;
  --spacing-300px: 300px;
  --spacing-340px: 340px;
  --spacing-353px: 353px;
  --spacing-370px: 370px;

  /* screen width */
  --spacing-1100px: 1100px;
  --spacing-1120px: 1120px;
  --spacing-1216px: 1216px;
  --spacing-1248px: 1248px;
  --spacing-1228px: 1228px;
  --spacing-1376px: 1376px;
  --spacing-1440px: 1440px;

  --text-12px: 12px;
  --text-22px: 22px;
  --text-32px: 32px;

  --radius-5px: 5px;
  --radius-8px: 8px;
  --radius-10px: 10px;
  --radius-11px: 11px;
  --radius-12px: 12px;
  --radius-15px: 15px;
  --radius-20px: 20px;

  --shadow-custom-1: 2.09px 2.09px 4.17px 0px rgba(0, 0, 0, 0.25);
  --shadow-custom-2: 0px 4px 4px 0px #00000040;

  /* drop shadow for hero button mobile */
  --shadow-custom-3: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  
  --leading-full: 100%;
  --leading-120%: 120%;
  --leading-245%: 245%;
  --leading-32px: 32px;

  --breakpoint-xxs: 23rem;
  --breakpoint-xxms: 25rem;
  --breakpoint-xms: 26.688rem;
  --breakpoint-xs: 30rem;
  --breakpoint-xsmd: 42.5rem;
  --breakpoint-xmd: 56.25rem;
  ; 
}

body {
  background-color: var(--neutral-bg);
  color: var(--neutral-black);
  font-family: var(--font-montserrat);
}